@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;

}

.content-box
{
    z-index: 5;
}

#myModal
{
    z-index: 9999;
}
/* root values */
:root{
    --container-mine-color: #1a1e21;
    --second-color: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
    --text-color: #172317;
    --bg-color: #fff;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.container-mine{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

a{
    color: #fff;
}

/* Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

#header.shadow{
    /* background: var(--bg-color); */
    background: #F9F7F4;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

#header.shadow .logo{
    color: var(--text-color);
}


.nav-mine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.nav-mine a{
    text-decoration: none;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
    background-color: rgb(4, 160, 160);
    /* background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo span{

}

.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: transparent;
    color: var(--text-color);
    border: 3px solid var(--second-color);

}

.login:hover{
    /* background: hsl(199, 98%, 56%); */
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
    transition: .5s;
}

.home{
    width: 100%;
    min-height: 400px;
    /* background: url("images/layered-waves-haikei.svg"); */
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-bottom: -40px;

}

.home-text{
    color: var(--text-color);
    text-align: center;
}

.home-title{
    font-size: 3.5rem;
}
.home-text h2{
    position: relative;
}
.home-text h2::before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 80px;
    height: 6px;
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
    /* padding-left: 80px; */
}

.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}
#curved
{
    font-size: 12px;
    font-weight: 300;
    color: #999;
    font-style: italic;    
}

/* ======================= */
.after-blog
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
    margin-bottom: -60px;

}
.after-blog .all-heading
{
    width: 74%;


}
.after-blog .all-heading h3{
    position: relative;
    width: 74%;
    text-align: left;
    color: var(--text-color);
}
/* .after-blog .all-heading h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
} */

.after-blog .line-break
{
    width: 74%;
    /* margin: 15px; */
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
    .after-blog .all-heading
    {
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .after-blog .all-heading h3{
        /* margin-left: 8px; */
        width: 90%;
    /* position: relative; */
        text-align: center !important;
    }
    .after-blog .line-break
    {
        width: 90%;
    }
    
}


/* =========================== */

.about{
    position: relative;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.about .contentBx{
    max-width: 50%;
    width: 50%;
    text-align: left;
    padding-right: 40px;
}

.titleText{
    font-weight: 600;
    color: #111;
    font-size: 2rem;
    margin-bottom: 10px;
}

.title-text{
    color: #111;
    font-size: 1em;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: var(--second-color);
    border: none;
    color: #fff;
}

.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    z-index: 5;
}

.post-box{
    /* background: var(--bg-color); */
    
    /* box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%); */
    padding: 15px;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.116);
}
.post-box a 
{
    margin-top: 5px;
    text-decoration: none;
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description{
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name{
    font-size: .8rem;
    font-weight: 500;
}

footer{
    /* position: relative; */
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.footer-container-mine{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container-mine .sec{
    margin-right: 30px;
}

.footer-container-mine .sec.aboutus{
    width: 40%;
}

.footer-container-mine h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

.footer-container-mine h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    /* background: rgb(77, 228, 255); */
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);

}

footer p{
    color: #fff;
}

.sci{
    margin: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
    color: #fff;
}

.sci li a:hover{
    /* background: rgb(77, 228, 255); */
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);

}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}

.quicklinks{
    position: relative;
    width: 25%;
}

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover{
    color: #fff;
}

.footer-container-mine .contactBx{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info{
    position: relative;
}

.contactBx .info li{
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span{
    color: #999;
}

.contactBx .info li a{
    color: #999;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover{
    color: #fff;
}

@media (max-width: 1060px){
    .container-mine{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav-mine{
        padding: 10px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    #header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    #header-title{
        font-size: 2rem;
    }

    #header-img{
        height: 370px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx{
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx{
        min-height: 250px;
    }

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    #header-title{
        width: 100%;
    }

    #header-img{
        height: 340px;
    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    #header-title{
        font-size: 1.4rem;
    }

    #header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    #header-img{
        height: 340px;
    }
}

/* Footer Media Query */
@media (max-width: 991px){
    footer{
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container-mine{
        flex-direction: column;
    }

    footer .footer-container-mine .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .home-text h2
    {
        /* margin-bottom: -20px; */
    }

    .home-text h2::before{
        left: 15%;
        /* transform: translateX(-50%); */
    }


    footer .footer-container-mine .sec.aboutus{
        width: 100% !important;
    }

    footer .footer-container-mine .quicklinks{
        width: 100%;
    }

    footer .footer-container-mine .contactBx{
        width: 100%;
    }
}



/* ========== */
#header.shadow .avatar-whole{
    /* border: 2px solid var(--container-mine-color); */
    color: var(--container-mine-color);
}



/* =============================== Avatar */
.avatar {
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    /* border: 3px solid #4568DC; */
    

}

.avatar img {
    /* vertical-align: middle; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* background-color:transparent; */
    color: #111111;
    transition: 1s ease;
    object-fit:cover;

}
.avatar img:hover
{
    -webkit-filter: blur(1px);
    transition: 1s ease;
    

}

.avatar-whole {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #111111;
    /* border-radius: 6px; */
    padding: 8px;
    /* border: 2px solid #F0FAFF; */
    /* border-image: linear-gradient(43deg, #30cfd0 0%, #330867 100%); */
    /* background-color: #282626; */
}
.avatar-whole i 
{
    font-size: 20px;
}
.avatar-whole:hover
{
    cursor: pointer;
}

.avatar-text p {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    /* background-color: #282626; */
    background-color: transparent;


}

.avatar-text a {
    text-decoration: none;
    color: white;

    font-size: 14px;
    background-color: #282626;

}

.avatar-text i {
    font-size: 16px;
    background-color: #282626;
    margin-left: 5px;
}

.avatar-text i:hover {
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.avatar-whole button
{
   background: transparent;
   border: none;
   color :#111111;
    font-size: 16px;
    cursor: pointer;
}
#header.shadow .avatar-whole button{
    color: var(--text-color);
    cursor: pointer;

    
}
/* =============================== Avatar ended */


/* =============================== login /signup*/
.form-box {
    max-width: 300px;
    background: #F9F7F4;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
    background: #F9F7F4;
    border-radius: 8px;

  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container-mine {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #005ce6;
  }
  /* ================================ */


    /* ================================ profile time container */
  .profile-time
  {
        font-size: 10px;
        color: #999;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  }
  .profile-time i
  {
        font-size: 3px;
        color: #999;
        padding: 3px;
 

  }

  /* ============= loader */

  .leader-main
  {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F7F4;

  }
  .loader {
    display: none;
    width: 64px;
    height: 64px;
    position: fixed;
    background: #F9F7F4;
    border-radius: 4px;
    overflow: hidden;
    border-radius: 8px;
    border : 1px solid rgba(0, 0, 0, 0.116);
  }
  
  .loader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(45deg) translate(30%, 40%);
    background: #4568DC;
    box-shadow: 32px -34px 0 5px #B06AB3;
    animation: slide 2s infinite ease-in-out alternate;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #B06AB3;
    transform: rotate(0deg);
    transform-origin: 35px 145px;
    animation: rotate 2s infinite ease-in-out;
  }
  
  @keyframes slide {
    0% , 100% {
      bottom: -35px
    }
  
    25% , 75% {
      bottom: -2px
    }
  
    20% , 80% {
      bottom: 2px
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(-15deg)
    }
  
    25% , 75% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(25deg)
    }
  }

  .shape .circle1{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 28%;
    background: orangered;
    z-index: 6;
    filter: blur(10px);
    animation: shape-moving 16s ease-in-out infinite alternate;
  }
  @keyframes shape-moving {
    from
    {
      transform: translate(-10%,10%) skew(10deg);
      /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
      border-top-right-radius: 20%;
      /* border-top-left-radius: 20%; */
    }
    to 
    {
      transform: translate(10%,-10%) skew(-10deg);
      /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
      border-bottom-right-radius: 70%;
    }
    
  }

