@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;

}

.content-box
{
    z-index: 5;
}

#myModal
{
    z-index: 9999;
}
/* root values */
:root{
    --container-mine-color: #1a1e21;
    --second-color: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
    --text-color: #172317;
    --bg-color: #fff;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

.container-mine{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

a{
    color: #fff;
}

/* Header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

#header.shadow{
    /* background: var(--bg-color); */
    background: #F9F7F4;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: .5s;
}

#header.shadow .logo{
    color: var(--text-color);
}


.nav-mine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.nav-mine a{
    text-decoration: none;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
    background-color: rgb(4, 160, 160);
    /* background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: transparent;
    color: var(--text-color);
    border: 3px solid var(--second-color);

}

.login:hover{
    /* background: hsl(199, 98%, 56%); */
    background: linear-gradient(43deg, #4568DC 0%, #B06AB3 100%);
    transition: .5s;
}

.home{
    width: 100%;
    min-height: 400px;
    /* background: url("images/layered-waves-haikei.svg"); */
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin-bottom: -9rem ;    

}

.home-text{
    color: var(--text-color);
    text-align: center;
}

.home-title{
    margin-top: -10px;
    font-size: 3.5rem;
}
.home-text h2{
    position: relative;
}
.home-text h2::before
{
    content: '';
    position: absolute;
    bottom: -9px;
    /* left: -50px; */
    /* left: 10%; */
    width: 120px;
    height: 6px;
    background: rgb(4, 160, 160);
    /* padding-left: 80px; */
}



.about{
    position: relative;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.about .contentBx{
    max-width: 50%;
    width: 50%;
    text-align: left;
    padding-right: 40px;
}

.titleText{
    font-weight: 600;
    color: #111;
    font-size: 2rem;
    margin-bottom: 10px;
}

.title-text{
    color: #111;
    font-size: 1em;
}

.about .imgBx{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}

.btn2{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    border: .8px solid #111;
    color: #333;
    text-decoration: none;
    transition: 0.5s;
}

.btn2:hover{
    background-color: var(--second-color);
    border: none;
    color: #fff;
}

.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    z-index: 5;
}

.post-box{
    background-color: rgba(148, 212, 212, 0.527);
    height: auto;
    padding: 15px;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.116);
}
.post-box a 
{
    margin-top: 5px;
    text-decoration: none;
}

.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 4px;
    font-weight: 400;
}

.post-description{
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name{
    font-size: .8rem;
    font-weight: 500;
}

footer{
  font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    margin-top: 15rem;   
    background: #111;
    position: relative;
}

.footer-container-mine{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer-container-mine p{
    color: #fff;
    font-size: 15px;
}



@media (max-width: 768px){
    .nav-mine{
        padding: 10px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    #header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    #header-title{
        font-size: 2rem;
    }

    #header-img{
        height: 370px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx{
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx{
        min-height: 250px;
    }

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    #header-title{
        width: 100%;
    }

    #header-img{
        height: 340px;
    }
}




#header.shadow .avatar-whole{
    /* border: 2px solid var(--container-mine-color); */
    color: var(--container-mine-color);
}



/* =============================== Avatar */
.avatar {
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    /* border: 3px solid #4568DC; */
    

}

.avatar img {
    /* vertical-align: middle; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* background-color:transparent; */
    color: #111111;
    transition: 1s ease;
    object-fit:cover;

}
.avatar img:hover
{
    -webkit-filter: blur(1px);
    transition: 1s ease;
    

}

.avatar-whole {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #111111;
    /* border-radius: 6px; */
    padding: 8px;
    /* border: 2px solid #F0FAFF; */
    /* border-image: linear-gradient(43deg, #30cfd0 0%, #330867 100%); */
    /* background-color: #282626; */
}
.avatar-whole i 
{
    font-size: 20px;
}
.avatar-whole:hover
{
    cursor: pointer;
}

.avatar-text p {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 14px;
    /* background-color: #282626; */
    background-color: transparent;


}

.avatar-text a {
    text-decoration: none;
    color: white;

    font-size: 14px;
    background-color: #282626;

}

.avatar-text i {
    font-size: 16px;
    background-color: #282626;
    margin-left: 5px;
}

.avatar-text i:hover {
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.avatar-whole button
{
   background: transparent;
   border: none;
   color :#111111;
    font-size: 16px;
    cursor: pointer;
}
#header.shadow .avatar-whole button{
    color: var(--text-color);
    cursor: pointer;

    
}
/* =============================== Avatar ended */


/* =============================== login /signup*/

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
    background: #F9F7F4;
    border-radius: 8px;

  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container-mine {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background: rgb(4, 160, 160);
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  .buttons
  {
    display: flex;
    justify-content: space-between;
  }
  .button-confirm
  {
    width: 50%;
  }
  .close-btn
  {
    width: 50%;
  }
  
  .form button:hover {
    background: rgb(4, 185, 185);

  }
  /* ================================ */


    /* ================================ profile time container */
  .profile-time
  {
        font-size: 10px;
        color: #999;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  }
  .profile-time i
  {
        font-size: 3px;
        color: #999;
        padding: 3px;
 

  }

  @media (max-width: 396px){
    .logo{
        margin-left: 1rem;
    }
    .home-title{
        font-size: 2rem;
    }
    .home-text h2::before
    {
        content: '';
        position: absolute;
        bottom: -9px;
        /* left: -50px; */
        /* left: 10%; */
        width: 60px;
        height: 6px;
        background: rgb(4, 160, 160);
        /* padding-left: 80px; */
    }
    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
        margin-left: 1rem;
        width: 90%;
    }

    #header-title{
        font-size: 1.4rem;
    }

    #header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    #header-img{
        height: 340px;
    }

    footer{
        margin-top: 24.2rem;
    }
}

/* loader */

.leader-main
  {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F7F4;

  }

.loader {
  position: relative;
  width: 80px;
  height: 110px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  background: rgb(4, 160, 160);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}